In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
matplotlib.rcParams['font.family']='Malgun Gothic'
matplotlib.rcParams['axes.unicode_minus']=False

In [2]:
sr = pd.Series( [90,90,55,60,76,80,76,88,30,25],
               name="국어점수" )
sr.index=['홍길동','이순신','임꺽정','정난정',
         '이이','이황','정도전','김철수1',
          '김철수2','김철수3']
sr

홍길동     90
이순신     90
임꺽정     55
정난정     60
이이      76
이황      80
정도전     76
김철수1    88
김철수2    30
김철수3    25
Name: 국어점수, dtype: int64

In [4]:
#( 연습문제 )
#1. 국어점수가 가장큰값을 구하시요
#2. 국어점수가 가장큰값의 이름을 구하시요
#3. 국어점수가 80점이상인 값을 구하시요
#4. 국어 점수가 50점이상 80점이하인 값을 구하시요
#5. 이름이 김으로 시작하는 데이터를 구하시요

In [5]:
#1.
sr.max()

90

In [9]:
#2.
sr.nlargest(1,keep='all')

홍길동    90
이순신    90
Name: 국어점수, dtype: int64

In [17]:
#3.
sr[sr>=80].index

Index(['홍길동', '이순신', '이황', '김철수1'], dtype='object')

In [20]:
#4.
sr[(sr>=50) &(sr<=80)].values

array([55, 60, 76, 80, 76])

In [24]:
#5.
sr[sr.index.str.contains('^김')]

김철수1    88
김철수2    30
김철수3    25
Name: 국어점수, dtype: int64