In [1]:
import pandas as pd
import numpy as np

data1 = [10,20,30,40,50]
data2 = (1,2,3,4,5)
data3 = {"aa":11,"bb":22,"cc":33,"dd":44,"ee":55}

sr = pd.Series(data1, name="test", index=['a','b','c','d','e'], dtype='float32')

print(sr)

# I think if i want to know about series,
# refer to pandas official pandas document(https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html)

print(sr.name)

print(sr.ndim) # demension

print(sr.shape) # (row number, column number)

print(sr.size) # row number * column number

print(sr.dtype) # type

print(sr.index)

a    10.0
b    20.0
c    30.0
d    40.0
e    50.0
Name: test, dtype: float32
test
1
(5,)
5
float32
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [2]:
# slicing
print(sr[1:3:1]) # [start arg:end arg:weghted value]
print(sr['b':'d'])
print(sr.iloc[1:-1]) # zero base
print(sr.loc['a':'c']) # input data base

b    20.0
c    30.0
Name: test, dtype: float32
b    20.0
c    30.0
d    40.0
Name: test, dtype: float32
b    20.0
c    30.0
d    40.0
Name: test, dtype: float32
a    10.0
b    20.0
c    30.0
Name: test, dtype: float32

In [17]:
# arithmetic operation
print(sr + 1)

a    11.0
b    21.0
c    31.0
d    41.0
e    51.0
Name: test, dtype: float32
a    10.0
b    20.0
e    50.0
Name: test, dtype: float32
c    30.0
d    40.0
e    50.0
Name: test, dtype: float32
b    20.0
d    40.0
Name: test, dtype: float32
a    10.0
d    40.0
Name: test, dtype: float32
10.0

In [19]:
# relational operation
print(sr[sr >= 30])
print(sr[[True,True,False,False,True]])

c    30.0
d    40.0
e    50.0
Name: test, dtype: float32
a    10.0
b    20.0
e    50.0
Name: test, dtype: float32

In [22]:
# logical operation
sr[(sr>=30) | (sr<=10)] # or
sr[(sr>=30) & (sr<=10)] # and
sr[~((sr>=30) | (sr<=10))] # not

b    20.0
Name: test, dtype: float32

In [44]:
#CRUD(create, read, update, delete)
# create
# I think create means to make sr , row value or whatever.

# read
# slicing is read operation.
print(sr.sort_values())
print(sr.sort_index())

# update
sr['a'] = 100
sr['f'] = 5
sr['g'] = 25
print(sr)

#delete
sr = sr.drop(['f','g'])
sr = sr.drop(sr[sr == None])
print(sr)

b     20.0
c     30.0
d     40.0
e     50.0
a    100.0
Name: test, dtype: float64
a    100.0
b     20.0
c     30.0
d     40.0
e     50.0
Name: test, dtype: float64
a    100.0
b     20.0
c     30.0
d     40.0
e     50.0
f      5.0
g     25.0
Name: test, dtype: float64
a    100.0
b     20.0
c     30.0
d     40.0
e     50.0
Name: test, dtype: float64

In [67]:
# text regular pattern
sr = pd.Series(['홍길동','이순신','김철수','김순이',
               '이홍김'] )
sr.index=['aa','bb','cc','dd','ee']
sr
sr[ sr=='이순신' ]
sr.str
sr.str[0]
sr.str[1:]
sr.str[:-1]
sr[ sr.str.contains( '김' ) ]
sr[ sr.str.contains( '^김' ) ] # ^ means start.
sr[ sr.str.contains( '김$' ) ]# $ means end.
sr[ sr.str.contains( '김[철순]' ) ] # [] means character group. contaions method selects row values which contain one of character or more.
sr[ sr.str.contains( '순신|철수' ) ]
sr.str.replace('^김','황',regex = False)

aa    홍길동
bb    이순신
cc    김철수
dd    김순이
ee    이홍김
dtype: object